
@font-face {
    font-family: 'freshman';
    src: url('../fonts/freshman-webfont.woff2') format('woff2'),
         url('../fonts/freshman-webfont.woff') format('woff'),
         url('../fonts/Freshman.ttf') format('ttf');
    font-weight: normal;
    font-style: normal
}
